td,th {
    border: 2px, double, rgb(5, 79, 122);
    border-collapse: collapse; 

}
:root{
    background-color: aqua;
}
h1, h2, h6 {
    text-align: center;
}
table {
    width: 50%;
    margin-left: 25%;
}